/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    *line-height: 4;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

h4 {
    margin: 1em;

}

a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

p {
    margin: 1em;
}

#navbar img {
    width: 40px;
    padding: 0;
    margin: 0;
}

/*Utility classes */
.primary_color {
    background-color: #4c78be;
}

#tema_overskrift {
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

@media screen and (max-width:768px) {
    #tema_overskrift h1 {
        padding-top: 1em;
        font-size: 1em;
    }
}


.l-heading {
    font-size: 3em;
    margin-bottom: 0.1em;
    line-height: 1.1;
}

.lead {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #4c78be;
    padding: 0.5em 2em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 1em;
    text-align: center;
}

.btn2 {
    display: inline-block;
    color: #fff;
    background: #365381;
    padding: 0.5em 2em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 1em;
    text-align: center;
}

.btn:hover {
    background: #73a7f8;
    transition: 0.5s;
}

.btn2:hover {
    background: #42669f;
    transition: 0.5s;
}

.middle_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*-----------------------------NAVBAR----------------------------------*/
#navbar {
    /*WIll display whatever is the child of the navbar*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*sætter navbaren fast*/
    position: sticky;
    /*Bestemmer hvor Navbaren skal sidde*/
    top: 0;
    background: #4c78be;
    color: #fff;
    z-index: 1;
    padding: 0.6em;
    flex-wrap: wrap;
}

#navbar h1 {
    padding-left: 1em;
}

#navbar ul {
    /*Displays the child of the ul (the li)*/
    display: flex;
    /*Puts everything in the center (same level) in the flexbox*/
    align-items: center;
    /*removes bullets points*/
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75em;
    margin: 0 0.25em;
    letter-spacing: 0.2em;
}

#navbar ul li a:hover {
    background: #73a7f8;
    border-radius: 2px;
    transition: 0.5s;
}

/*----------------------------BURGER MENU---------------------------*/

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .nav_links {
        width: 60%;
    }
}


@media screen and (max-width:768px) {

    html {
        overflow-x: hidden;
    }

    .nav_links {
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 6vh;
        background-color: #4c78be;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        transform: translateY(-180%);
    }

    .nav_links li {
        padding-top: 0;
        margin: 0;
        margin: 2em;
        font-size: 1em;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateY(0%);
}

/*-----------------------------SHOWCASE HEADER------------------------*/
#showcase {
    background-image: url(img/iceice.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2em;
    color: #fff;

    /*OVERLAY: we'll give the overlay a position of
    absolute so we can make an overlay*/
    position: absolute;
    /*top has to be the exact amount of px of the menu for the background to cover completely*/
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:768px) {
    #showcase {
        height: 92vh;
    }

    #showcase .showcase-content {
        font-size: 0.8em;
    }
}


/*----------------------------------OM MIG--------------------------------*/

#om_mig {
    max-width: 900px;
    margin: auto;
    margin-bottom: 7em;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#om_mig .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 0.5em;
    margin-bottom: 3em;
}

#om_mig .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    margin-bottom: 0.5em;
    text-align: center;
}

#om_mig .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}



#om_mig img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}

@media screen and (max-width:768px) {


    #om_mig .col h2 {
        margin: 0.5em;
        margin-top: 1em;
        text-align: center;
    }

    #om_mig .col .txt {
        margin: 0.2em;
        margin-top: 1em;
        margin-left: 0.1em;
        line-height: 1.8em;
    }
}

/*-----------------------------------------CV--------------------------*/

.cv_container {
    padding: 3em;
    background: #4c78be;
    color: #fff;
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    border-radius: 4px;
    letter-spacing: 0.3em;

}

#timeline ul {
    padding: 50px 0;
}

#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #6299f2;
}

#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1em;
    background: #4c78be;
    border-radius: 4px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

/*Right Side divs*/
#timeline ul li:nth-child(odd) div {
    left: 40px;
}

/*Left side divs*/
#timeline ul li:nth-child(even) div {
    left: -434px;
}

/*Prikker */

#timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: #6299f2;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

/*Arrows Base*/
#timeline div:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

/*Right Side Arrows*/
#timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #4c78be transparent transparent;
}

/*Left Side Arrows*/
#timeline ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent #4c78be;
}

@media screen and (max-width:768px) {
    .cv_container {
        padding: 3em;
        max-width: 90vw;
        font-size: 0.8em;

    }

    #timeline ul li {
        margin-left: 10px;
    }

    #timeline ul li div {
        width: 310px;
        font-size: 0.8em;
        line-height: 1.7em;
    }

    #timeline ul li:nth-child(even) div {
        left: 40px;
    }

    #timeline ul li:nth-child(even) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #4c78be transparent transparent;
    }
}






/*---------------------PORTFOLIO----------------------------*/
#portfolio {
    background-color: #4c78be;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding-bottom: 4em;
}

#portfolio h2 {
    margin: 0;
    padding: 0.1em;
    font-size: 3em;
    color: #fff;
}

#portfolio .container {
    display: flex;
    flex-wrap: wrap;
}

#portfolio .container .box {
    position: relative;
    max-width: 300px;
    background: #fff;
    margin: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
}

#portfolio .container .box .imgbox {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 200px;
    background: #fff;
}


#portfolio .container .imgbox img {
    max-width: 100%;
    transition: transform 2s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 4px;
}

#portfolio .container .box:hover .imgbox img {
    transform: scale(1.2);
}

#portfolio .container .box .details {
    position: absolute;
    margin: auto;
    top: 50px;
    left: 20px;
    text-align: center;

}

#portfolio .container .box .details h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}

/*MEDIA QUERIES FOR PORTfOLIO*/

@media screen and (max-width:768px) {
    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 1100px;
        padding-left: 1.6em;
    }

    #portfolio .container {
        align-content: center;
    }
}

/*----------------------------TEMA 2-------------------------*/
#responsive_site_2 {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3em;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}

#responsive_site_2 .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#responsive_site_2 .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#responsive_site_2 .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}



#responsive_site_2 img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}


@media screen and (max-width:768px) {


    #responsive_site_2 .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #responsive_site_2 .col h2 {
        margin: 0.5em;
        margin-top: 2em;
    }

    #responsive_site_2 .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

    #responsive_site_2 img {
        width: 100%;
        margin-top: 2em;
        border-radius: 4px;
    }
}

/*-----------------------------TEMA 3--------------------------------*/
#overview {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
}

#overview ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: rgba(115, 167, 248, 0.38);
}

#overview ul li {
    color: #000;
    list-style: none;
    padding-left: 0.5em;
    margin: 0.5em;
}

#overview ul li a {
    color: #000;
}

@media screen and (max-width:768px) {
    #overview {
        display: none;
    }
}

/*-------------------------------DATAINDSAMLING-----------------*/
#dataindsamling {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3em;
}

.sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#dataindsamling .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#dataindsamling .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#dataindsamling .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}



#dataindsamling .col img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}



/**********************prototype*********************/
#prototype {
    max-width: 100vw;
    margin: auto;
    margin-bottom: 3em;
    background-color: #4c78be;
    color: #fff;
}

.sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}

#prototype .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#prototype .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;

}

#prototype .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;

}



#prototype img {
    width: 100%;
    max-width: 600px;
    margin-top: 7em;
    border-radius: 4px;
}





/*/
/////DESIGN SPRINT///////*/
#design_sprint {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3em;
}

.sectionwrapper3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#design_sprint .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;
}

#design_sprint .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#design_sprint .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}



#design_sprint img {
    width: 100%;
    margin-top: 7em;
    margin-left: 4em;
    max-width: 600px;
    border-radius: 4px;
}

/*--------------------MEDIA Queries tema 3---------------*/

@media screen and (max-width:768px) {

    #dataindsamling .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #dataindsamling .col h2 {
        margin: 0.5em;
        margin-top: 1em;
    }

    #dataindsamling .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }


}

@media screen and (max-width:768px) {


    #prototype .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #prototype .col h2 {
        margin: 0.5em;
        margin-top: 2em;
    }

    #prototype .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

}

@media screen and (max-width:768px) {


    #design_sprint .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #design_sprint .col h2 {
        margin: 0.5em;
        margin-top: 2em;
    }

    #design_sprint .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

    #design_sprint img {
        width: 100%;
        margin-top: 7em;
        margin-left: 0em;
        max-width: 600px;
        border-radius: 4px;
    }

}



/*----------------------TEMA 4-------------------------------------*/



/*___________________________ASSETLISTE _________________*/


#assetliste_designdoku {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3em;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


#assetliste_designdoku .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#assetliste_designdoku .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#assetliste_designdoku .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}

#assetliste_designdoku img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}


/*-----------------------------Animations OPGAVE----------------*/


#stella_stardust {
    max-width: 100vw;
    margin: auto;
    margin-bottom: 3em;
    background-color: #4c78be;
    color: #fff;
}

#stella_stardust .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}


#stella_stardust .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#stella_stardust .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#stella_stardust .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}

#stella_stardust img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}



/*-----------------------------Billeddeling--------------*/


#billed_deling {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3em;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


#billed_deling .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#billed_deling .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#billed_deling .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}

#billed_deling img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}

/*------------------------------------MEDIA QUERIES TEMA 4-----------*/
@media screen and (max-width:768px) {

    #assetliste_designdoku .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #assetliste_designdoku .col h2 {
        margin: 0.5em;
        margin-top: 1em;
    }

    #assetliste_designdoku .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

    #stella_stardust .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #stella_stardust .col h2 {
        margin: 0.5em;
        margin-top: 1em;
    }

    #stella_stardust .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

    #billed_deling .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #billed_deling .col h2 {
        margin: 0.5em;
        margin-top: 1em;
    }

    #billed_deling .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }


}


/*-------------------------TEMA 5 ------------------------------*/
#pilotvideo {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3em;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


#pilotvideo .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#pilotvideo .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#pilotvideo .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}

#pilotvideo img {
    width: 100%;
    margin-top: 7em;
    border-radius: 4px;
}

/*-------------REDESIGN---------------*/

#redesign {
    max-width: 100vw;
    margin: auto;
    margin-bottom: 3em;
    background-color: #4c78be;
    color: #fff;
}

#redesign .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}


#redesign .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5em;
    margin-bottom: 3em;

}

#redesign .col h2 {
    margin: 0.5em;
    margin-top: 5em;
    text-align: center;
}

#redesign .col .txt {
    margin: 0.5em;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 1.8em;
}

#redesign img {
    width: 100%;
    margin-top: 7em;
    border: solid #000 1px;
    border-radius: 4px;
}


/*--------------------------MEDIAQUERIES TEMA 5---------------*/
@media screen and (max-width:768px) {

    #pilotvideo .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #pilotvideo .col h2 {
        margin: 0.5em;
        margin-top: 1em;
    }

    #pilotvideo .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

    #redesign .col {
        flex-grow: 1;
        flex-basis: 500px;
        margin: 0em;
        margin-bottom: 1em;
        text-align: start;
    }

    #redesign .col h2 {
        margin: 0.5em;
        margin-top: 1em;
    }

    #redesign .col .txt {
        margin: 0.5em;
        margin-top: 3em;
        margin-left: 0.4em;
        line-height: 1.8em;
    }

}

/*---------------------KONTAKT-------------------------------------*/
#kontakt .ikoner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 3em;
}

#kontakt .ikoner .ikon {
    margin: 5em;
}

#kontakt .ikoner .ikon i {
    padding: 1em;
    border-radius: 50%;
    background: #4c78be;
    color: #fff;

}

@media screen and (max-width:768px) {

    #kontakt .ikoner {
        flex-direction: column;
        margin: 1em;
    }

    #kontakt .ikoner .ikon {
        margin: 0.1em;
        font-size: 0.7em;
    }
}



/*-------------------------FOOTER-----------------------------------*/


footer {
    text-align: center;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    ;
    margin: 0.5em;
    flex-wrap: wrap;
    border-top: solid 1px #000;
    padding: 0.6em;
}

footer .so_me i {
    color: #4c78be;
    margin-right: 0.3em;
    align-content: center;
}

@media screen and (max-width:768px) {

    footer {
        font-size: 0.7em;
        justify-content: center
    }

    footer .so_me i {
        margin: 0.2em;
        border-radius: 4px;
    }

}


/*-------------------------Animationer-----------------------------*/

.fade_in {
    animation-name: fade_in;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.drop {
    animation-name: drop_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-130vw);
    }

    to {
        transform: translateY(2vw);
    }
}
